[project]
	description = This repository contains scripts and modules, intended for task-automation and augmentation of various parts of HIL. It complements https://github.com/CCI-MOC/hil 
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Sahil Tikale (SahilTikale)
[access "refs/for/refs/*"]
	read = group user/Sahil Tikale (SahilTikale)
	push = group user/Sahil Tikale (SahilTikale)
	label-Code-Review = -2..+2 group user/Sahil Tikale (SahilTikale)
	label-Verified = -1..+1 group user/Sahil Tikale (SahilTikale)
	rebase = group user/Sahil Tikale (SahilTikale)
	removeReviewer = group user/Sahil Tikale (SahilTikale)
	submit = group user/Sahil Tikale (SahilTikale)
[access "refs/heads/*"]
	read = group user/Sahil Tikale (SahilTikale)
	create = group user/Sahil Tikale (SahilTikale)
	push = +force group user/Sahil Tikale (SahilTikale)
	pushMerge = group user/Sahil Tikale (SahilTikale)
[access "refs/tags/*"]
	push = group user/Sahil Tikale (SahilTikale)
	push = +force group user/Sahil Tikale (SahilTikale)
